.head {
    display: flex;
    flex-direction: row;
}
.photo {
    width: 100px;
    margin-left: 20px;
}
.text {
    width: 150px;
    margin-top: 15px;
}
.me{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}
.icon{
    width: 30px;
    height: 30px;
    object-fit: cover;
    padding-bottom: 10px;
    padding-left: 10px;
}
#text1 {
    font-size: large;
    font-weight: bold;
    padding-left: 20px;
}
#text2 {
    font-size: large;
    font-weight: bold;
    padding-left: 20px;
}
.logo {
    text-align: center;
    margin-top: 150px;
}
img {
    width: 30%;
}
.search{
    text-align: center;
    margin-top: 20px;
}
input {
    border-radius: 30px;
    width: 550px;
    height: 45px;
    outline-color: darkgray;
    font-size: 15px;
    padding-left: 20px;
    border-radius: 30px;
    border-width: 1px;
    border-color: darkgray;
    border: none;
    background-color: rgb(241, 241, 241);
}
.searchB {
    height: 35px;
    width: 120px;
    border: none;
    background-color: rgb(224, 224, 224);
    font-size: 15px;
}
#textG {
    padding-top: 20px;
}
.footer {
    background: #F2F2F2;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    padding-left: 20px;
}
#text3 {
    padding-right: 30px;
}
.texts1{
    position: absolute;
    right: 0;
}
#Copyright {
    color: darkgray;
    font-size: small;
}